[Settings]
gtk-theme-name={{ if .appearance.isLightTheme }}{{ .appearance.gtk.theme }}{{ else }}{{ .appearance.gtk.themeDark }}{{ end }}
gtk-icon-theme-name={{ if .appearance.isLightTheme }}{{ .appearance.iconTheme }}{{ else }}{{ .appearance.iconThemeDark }}{{ end }}
gtk-font-name=Sans {{ .appearance.fontconfig.size }}
gtk-cursor-theme-name={{ .appearance.xcursor.name }}
gtk-cursor-theme-size={{ .appearance.xcursor.size }}
gtk-button-images=1
gtk-menu-images=1
gtk-application-prefer-dark-theme={{ if not .appearance.isLightTheme }}0{{ else }}1{{ end }}

# vim: ft=dosini
