PATH="$HOME/.local/bin:$PATH"

XDG_CONFIG_HOME="$HOME/.config"
XDG_CACHE_HOME="$HOME/.cache"
XDG_DATA_HOME="$HOME/.local/share"
XDG_STATE_HOME="$HOME/.local/state"

{{ range $key, $value := .xdgUserDirs -}}
{{ $key }}="{{ $value }}"
{{ end }}

FZF_DEFAULT_OPTS='--border --highlight-line'

EDITOR="{{ .defaultApps.editor.exe }}"
VISUAL="{{ .defaultApps.editor.exe }}"
PAGER="{{ .defaultApps.pager.exe }}"
MANPAGER="{{ .defaultApps.manpager.exe }}"
TERMINAL="{{ .defaultApps.terminal.exe }}"
BROWSER="{{ .defaultApps.browser.exe }}"
FILE_MANAGER="{{ .defaultApps.fileManager.exe }}"

{{ if eq .defaultApps.ime.exe "fcitx5" -}}
GLFW_IM_MODULE=ibus
SDL_IM_MODULE=fcitx
XMODIFIERS=@im=fcitx
GTK_IM_MODULE=fcitx
QT_IM_MODULE=fcitx
{{ end }}

QT_QPA_PLATFORMTHEME="{{ .appearance.qt.platformTheme }}"
