#!/usr/bin/bash

if command -v gsettings >/dev/null 2>&1; then
    gsettings set org.gnome.desktop.interface 'gtk-theme'    "{{ if .appearance.isLightTheme }}{{ .appearance.gtk.theme }}{{ else }}{{ .appearance.gtk.themeDark }}{{ end }}"
    gsettings set org.gnome.desktop.interface 'icon-theme'   "{{ if .appearance.isLightTheme }}{{ .appearance.iconTheme }}{{ else }}{{ .appearance.iconThemeDark }}{{ end }}"
    gsettings set org.gnome.desktop.interface 'font-name'    "Sans {{ .appearance.fontconfig.size }}"
    gsettings set org.gnome.desktop.interface 'cursor-theme' "{{ .appearance.xcursor.name }}"
    gsettings set org.gnome.desktop.interface 'cursor-size'  "{{ .appearance.xcursor.size }}"
    gsettings set org.gnome.desktop.interface 'color-scheme' "{{ if .appearance.isLightTheme }}prefer-light{{ else }}prefer-dark{{ end }}"
fi

# vim: ft=bash
