#!/usr/bin/bash

chezmoi managed --include=files | while read -r TARGET_FILE; do
    DEST_PATH="{{ .chezmoi.destDir }}/$TARGET_FILE"

    [[ -L "$DEST_PATH" ]] && continue

    if [[ -x "$DEST_PATH" ]]; then
        chmod 555 "$DEST_PATH"
    else
        chmod 444 "$DEST_PATH"
    fi
done

# vim: ft=bash
