#!/usr/bin/bash

SCHEMA='org.gnome.desktop.interface'

if command -v gsettings >/dev/null 2>&1; then
    gsettings set $SCHEMA gtk-theme "{{ if .appearance.isLightTheme }}{{ .appearance.gtk.theme }}{{ else }}{{ .appearance.gtk.themeDark }}{{ end }}"
    gsettings set $SCHEMA icon-theme "{{ if .appearance.isLightTheme }}{{ .appearance.gtk.iconTheme }}{{ else }}{{ .appearance.gtk.iconThemeDark }}{{ end }}"
    gsettings set $SCHEMA font-name "Sans {{ .appearance.fontconfig.size }}"
    gsettings set $SCHEMA cursor-theme "{{ .appearance.xcursor.name }}"
    gsettings set $SCHEMA cursor-size {{ .appearance.xcursor.size }}
    gsettings set $SCHEMA color-scheme "{{ if .appearance.isLightTheme }}prefer-light{{ else }}prefer-dark{{ end }}"
fi

# vim: ft=bash
