window-rule {
    clip-to-geometry            true
    geometry-corner-radius      5
    draw-border-with-background false
    background-effect {
        xray false
        blur true
    }
}

// floating
window-rule {
    match app-id="^thunar$"
    exclude title="^.* - Thunar$"

    open-floating true
}
window-rule {
    match app-id="^waypaper$"
    match app-id="^xdg-desktop-portal-gtk$"
    match app-id="^xarchiver$" title="^Extract files$"

    open-floating true
    default-column-width  { fixed 1024; }
    default-window-height { fixed 768; }
}
window-rule {
    match app-id="^firefox$" title="^Picture-in-Picture$"

    open-floating true
    default-column-width  { fixed 640; }
    default-window-height { fixed 360; }
}
window-rule {
    match app-id="^steam$" title=r#"^notificationtoasts_\d+_desktop$"#

    open-focused false
    default-floating-position x=0 y=0 relative-to="bottom-right"
}
