recent-windows {
    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+Grave       { next-window     filter="app-id"; }
        Alt+Shift+Grave { previous-window filter="app-id"; }
    }
}

binds {
    Ctrl+Alt+Delete repeat=false { quit; }

    // windows
    Mod+Tab    repeat=false { toggle-overview; }
    //#
    Alt+F4     repeat=false { close-window; }
    Mod+F      repeat=false { fullscreen-window; }
    Mod+Ctrl+F repeat=false { maximize-window-to-edges; }
    Mod+Space  repeat=false { toggle-window-floating; }
    Mod+R      { switch-preset-column-width; }
    Mod+Ctrl+R { switch-preset-window-height; }
    //#
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    // workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    // apps
    Mod+T repeat=false { spawn-sh "${NIRI_APP_TERMINAL:-$TERMINAL}"; }
    Mod+E repeat=false { spawn-sh "$NIRI_APP_FILE_MANAGER"; }
    Mod+B repeat=false { spawn-sh "${NIRI_APP_BROWSER:-$BROWSER}"; }

    // misc
    Print       repeat=false { screenshot-screen; }
    Alt+Print   repeat=false { screenshot-window; }
    Mod+Shift+S repeat=false { screenshot; }

    // fn keys
    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set 2%+ -q"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set 2%- -q"; }
    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+ -l 1"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%-"; }
    XF86AudioMute    repeat=false allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute repeat=false allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay repeat=false allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop repeat=false allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev repeat=false allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext repeat=false allow-when-locked=true { spawn-sh "playerctl next"; }
}
