<?xml version='1.0'?>
<fontconfig>
    <alias binding="same">
        <family>sans-serif</family>
        <prefer>
            {{ range .appearance.fonts.sansSerif -}}
            <family>{{ . }}</family>
            {{ end }}
        </prefer>
    </alias>
    <alias binding="same">
        <family>serif</family>
        <prefer>
            {{ range .appearance.fonts.serif -}}
            <family>{{ . }}</family>
            {{ end }}
        </prefer>
    </alias>
    <alias binding="same">
        <family>monospace</family>
        <prefer>
            {{ range .appearance.fonts.monospace -}}
            <family>{{ . }}</family>
            {{ end }}
        </prefer>
    </alias>
    <alias binding="same">
        <family>emoji</family>
        <prefer>
            {{ range .appearance.fonts.emoji -}}
            <family>{{ . }}</family>
            {{ end }}
        </prefer>
    </alias>
</fontconfig>

<!-- vim: ft=xml
-->
