[Default Applications]
x-scheme-handler/terminal={{ .defaultApps.terminal.desktop }}

x-scheme-handler/http={{ .defaultApps.browser.desktop }}
x-scheme-handler/https={{ .defaultApps.browser.desktop }}
text/html={{ .defaultApps.browser.desktop }}
application/xhtml+xml={{ .defaultApps.browser.desktop }}

inode/directory={{ .defaultApps.fileManager.desktop }}
x-scheme-handler/file={{ .defaultApps.fileManager.desktop }}

text/plain={{ .defaultApps.editor.desktop }}
application/x-shellscript={{ .defaultApps.editor.desktop }}
application/x-sh={{ .defaultApps.editor.desktop }}

image/jpeg={{ .defaultApps.image.desktop }}
image/png={{ .defaultApps.image.desktop }}
image/gif={{ .defaultApps.image.desktop }}
image/webp={{ .defaultApps.image.desktop }}

video/mp4={{ .defaultApps.video.desktop }}
video/x-matroska={{ .defaultApps.video.desktop }}
video/webm={{ .defaultApps.video.desktop }}

audio/mpeg={{ .defaultApps.music.desktop }}
audio/ogg={{ .defaultApps.music.desktop }}
audio/flac={{ .defaultApps.music.desktop }}
audio/x-wav={{ .defaultApps.music.desktop }}
